mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    flex-wrap: wrap;
    gap: 8px;
    background-color: var(--bg-cinza-secundario);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);
}

.title {
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.client-name {
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    font-size: 16px;
    font-weight: 700;
}

.example-spacer {
    flex: 1;
}

button.logout-icon {
    margin-left: auto;
}

.logout-icon {
    color: red;
}

@media (max-width: 600px) {
    .client-name {
        max-width: 150px;
    }

    .title {
        font-size: 14px;
    }
}
  
