@if (carregando()) {
    <app-carregando />
} @else {
    <app-login-padrao
        titulo="Confirmar Identidade"
        primeiroBtn="Continuar"
        segundoBtn="Login"
        (submit)="submit()"
        (navegar)="navegar()"
        [btnEstaHabilitado]="!confirmarIdentidade.valid"
    >
        <form [formGroup]="confirmarIdentidade" class="form-padrao">
            <app-input-texto
                formControlName="cnpj_cpf"
                nomeInput="cnpj_cpf"
                type="text"
                label="CPF ou CNPJ" 
                placeholder="CPF / CNPJ"
                (input)="limitarEntrada($event)"
            >
                <img src="assets/img/pessoa.svg" height="20px" alt="">
            </app-input-texto>
        </form>
    </app-login-padrao>
}


