main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 30pt;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagem-login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    background-color: var(--bg-cinza);
}

.imagem-login h1::after{
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--cor-primaria);
}

.formulario{
    flex-grow: 0.4;
    padding: 0 35px;
}

.formulario h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 45px;
}

.formulario img{
    margin-bottom: 45px;
}

.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

button{
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    padding: 12px 24px;
    cursor: pointer;
}

button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.primeiroBtn{
    background-color: var(--cor-primaria);
    color: #ffffff;
}

.segundoBtn{
    border: 1px solid var(--cor-primaria);
    color: var(--cor-primaria);
}

.dividir{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--bg-cinza);
    font-weight: 600;
    gap: 20px;
    width: 100%;
}

.dividir > div{
    flex-grow: 1;
    height: 2px;
    background-color: var(--bg-cinza);
}


@media screen and (max-width: 920px) {
    .formulario{
        flex-grow: 1;
        padding: 0 35px;
    }

    .imagem-login{
        flex-grow: .5;
    }
}

@media screen and (max-width: 728px) {
    .imagem-login{
        display: none;
    }
}


