<main (keydown.enter)="submit()" class="main-login-padrao">
    <section class="formulario-login-padrao section-padrao">
        <img src="assets/img/empresa.png" width="200px" alt="">
        <h2>{{ titulo }}</h2>
        <ng-content></ng-content>
        <div class="botoes-login-padrao">
            <button 
                class="button-login-padrao primeiroBtn"
                (click)="submit()"
                [disabled]="btnEstaHabilitado"
            >
                {{ primeiroBtn }}
            </button>

            <div class="dividir">
                <div></div>
                <span>OU</span>
                <div></div>
            </div>
            
            <button 
                class="button-login-padrao segundoBtn" 
                (click)="navegar()"
            >
                {{ segundoBtn }}
            </button>
        </div>
    </section>
    <section class="imagem-login section-padrao">
        <h1 class="h1-login-padrao">Portal Boletos</h1>
        <img src="assets/img/imgBoleto.png" alt="Boleto" loading="eager">
    </section>
</main>
