<app-login-padrao
    titulo="Validar Código de Acesso"
    primeiroBtn="Continuar"
    segundoBtn="Login"
    (submit)="submit()"
    (navegar)="navegar()"
    [btnEstaHabilitado]="!formularioCodAcesso.valid"
>
    <form [formGroup]="formularioCodAcesso">
        <app-input-texto
            formControlName="codAcesso"
            nomeInput="codAcesso"
            type="number"
            label="Validar Código" 
            placeholder="Código"
        >
            <img src="img/senha.svg" height="20px" alt="">
        </app-input-texto>
    </form>

    <button [disabled]="carregando" (click)="reenviarCodAcesso()" class="reenviarEmail">
        {{ carregando() ? 'Enviando...' : 'Reenviar Código de Acesso' }}
    </button>
</app-login-padrao>

