@import 'ngx-toastr/toastr';

:root{
    --cor-primaria: #3e6b95;
    --cor-texto: #3d3d3d;
    --cor-secundaria: #1E2772;
    --bg-cinza: #dddddd;
    --bg-cinza-secundario: #f1f1f1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body, 
html{
    height: 100vh;
    overflow-x: hidden !important;
}

a{
    text-decoration: none;
}

/* Carregando Component */

.body-loading {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding-top: 100px;
}

.loading-container {
    position: relative;
    width: 50px;
    height: 50px;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid #000000;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* -------------------------------------- */

/* Filtro Component */

.section-filtro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100vw;
}

.pesquisa {
    border: 1px solid rgba(0, 0, 0, 0.199);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.144);
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.btnLimpar {
    border: 0;
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 20px;
}

@media (max-width: 1200px) {
    .pesquisa {
        width: 90%;
    }
}

@media (max-width: 1024px) {
    .pesquisa {
        width: 100%;
    }
}

@media (max-width: 920px) {
    .pesquisa {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
    }
}

@media (max-width: 465px) {
    .pesquisa {
        width: 100%;
    }

    .codigo{
        width: 100%;
    }

    .data{
        width: 100%;
    }
    
    .status{
        width: 100%;
    }

    .btnLimpar{
        padding: 10px;
        top: -22px;
    }
}

/* -------------------------------------- */

/* Footer Component */

.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------- */

/* Header Component */

mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    flex-wrap: wrap;
    gap: 8px;
    background-color: var(--bg-cinza-secundario);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);
}

.title {
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.client-name {
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    font-size: 16px;
    font-weight: 700;
}

.example-spacer {
    flex: 1;
}

button.logout-icon {
    margin-left: auto;
    color: red;
}

@media (max-width: 600px) {
    .client-name {
        max-width: 150px;
    }

    .title {
        font-size: 14px;
    }
}
  
/* -------------------------------------- */

/* Select Component */

.form-group-select {
    display: flex;
    flex-direction: column;
}

.label-select {
    font-size: 16px;
    color: var(--cor-texto);
    margin-bottom: 10px;
}

.select-opts {
    border: none;
    padding: 12px 15px 12px 20px;
    border-radius: 8px 0 0 8px;
    font-size: 16px;
    width: 100%;
    color: var(--cor-texto);
    background-color: var(--bg-cinza-secundario);
}
  
.select-opts:focus {
    border-color: #3f51b5;
    outline: none;
}
  
/* -------------------------------------- */

/* Input Component */

.input-completo-text{
    color: var(--cor-texto);
    font-size: 16px;
    text-align: start;
}

.label-text{
    margin-bottom: 10px;
}

.input-text{
    border: none;
    border-radius: 8px 0 0 8px;
    background-color: var(--bg-cinza-secundario);
    color: var(--cor-texto);
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    width: 100%;
}

.input-content-text{
    width: 100%;
    border-radius: 8px;
    display: flex;
}

.icone-text{
    padding: 12px;
    background-color: var(--cor-primaria);
    border-radius: 0 8px 8px 0;
}

.icone-text > img{
    height: 20px;
}

/* -------------------------------------- */

/* Login Padrao Component */

.main-login-padrao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.h1-login-padrao{
    font-size: 30pt;
}

.section-padrao{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagem-login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    background-color: var(--bg-cinza);
}

.imagem-login h1::after{
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--cor-primaria);
}

.formulario-login-padrao{
    flex-grow: 0.4;
    padding: 0 35px;
}

.formulario-login-padrao h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 45px;
}

.formulario-login-padrao > img{
    margin-bottom: 45px;
}

.botoes-login-padrao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.button-login-padrao{
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    padding: 12px 24px;
    cursor: pointer;
}

.button-login-padrao:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.primeiroBtn{
    background-color: var(--cor-primaria);
    color: #ffffff;
}

.segundoBtn{
    border: 1px solid var(--cor-primaria);
    color: var(--cor-primaria);
}

.dividir{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--bg-cinza);
    font-weight: 600;
    gap: 20px;
    width: 100%;
}

.dividir > div{
    flex-grow: 1;
    height: 2px;
    background-color: var(--bg-cinza);
}


@media screen and (max-width: 920px) {
    .formulario-login-padrao{
        flex-grow: 1;
        padding: 0 35px;
    }

    .imagem-login{
        flex-grow: .5;
    }
}

@media screen and (max-width: 728px) {
    .imagem-login{
        display: none;
    }
}

/* -------------------------------------- */

/* Modal Component */

.modal{
    background-color: #0000004d;
}

/* -------------------------------------- */

/* Tabela Component */

.tabela-dinamica {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container-tabela{
    display: flex;
    justify-content: space-between;
}

.botoes-tabela{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

mat-expansion-panel-header{
    padding: 30px;
}

mat-expansion-panel {
    margin-bottom: 10px !important;
}

.status-red {
    border-left: 5px solid red;
}

.status-green {
    border-left: 5px solid green;
}

.tabela-titulos {
    width: 70%;
}

button[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
}

.snack-bar-error {
    background-color: #f44336;
    color: white;
}

.snack-bar-warning {
    background-color: #ff9800;
    color: white;
}

.mensagem-filtro{
    text-align: center;
    font-size: 16px;
}


@media screen and (max-width: 700px) {
    .tabela-titulos{
        width: 100%;
    }

    .container-tabela{
        flex-direction: column;
        gap: 10px;
    }

    .botoes-tabela{
        gap: 10px;
    }
}

@media screen and (max-width: 920px) {
    .tabela-titulos{
        width: 100%;
    }
}

/* -------------------------------------- */
/* Pages */
/* Boletos Component */

.main-boletos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    margin-top: 50px;
    flex-grow: 1;
}

.h1-boletos::after{
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--cor-primaria);
}

.footer-boletos {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .h1-boletos{
        font-size: 24pt;
        margin-bottom: 30px;
    }
}

/* -------------------------------------- */

/* CodAcesso Component */

.form-padrao{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 34px;
}

.reenviarEmail{
    font-size: 14px;
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: end;
    margin-bottom: 20px;
    text-decoration: underline;
    color: var(--cor-secundaria);
}

/* -------------------------------------- */

/* Login Component */

.esqueceu-senha{
    font-size: 14px;
    text-decoration: underline;
    color: var(--cor-secundaria);
    text-align: end;
}

/* -------------------------------------- */

/* 404 Component */

.container-404{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
}

/* -------------------------------------- */