.tabela-dinamica {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

mat-expansion-panel-header{
    padding: 30px;
}

mat-expansion-panel {
    margin-bottom: 0 !important;
}

.status-red {
    border-left: 5px solid red;
}

.status-green {
    border-left: 5px solid green;
}

.table {
    width: 70%;
}

button[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
}

.snack-bar-error {
    background-color: #f44336;
    color: white;
}

.snack-bar-warning {
    background-color: #ff9800;
    color: white;
}


@media screen and (max-width: 700px) {
    .table{
        width: 100%;
    }

    .container{
        flex-direction: column;
        gap: 10px;
    }

    .botoes{
        gap: 10px;
    }
}

@media screen and (max-width: 920px) {
    .table{
        width: 100%;
    }
}
